<?xml version="1.0" encoding="UTF-8"?>

<!-- -->
<settings>
	<database name="stats">
		<tables>
			<table>events</table> 
			<events>
				<primary-key><![CDATA[id]]></primary-key>
				<column>
					<name>id</name>
					<dbtype>integer</dbtype>
				</column>
				<column>
					<name>name</name>
					<dbtype>text</dbtype>
				</column>
				<column>
					<name>date</name>
					<dbtype>text</dbtype>
				</column>
				<column>
					<name>organization</name>
					<dbtype>text</dbtype>
				</column>
				<column>
					<name>location</name>
					<dbtype>text</dbtype>
				</column>
				<column>
					<name>attendance</name>
					<dbtype>integer</dbtype>
				</column>
				<column>
					<name>completed</name>
					<dbtype>integer</dbtype>
				</column>
				<column>
					<name>child_url</name>
					<dbtype>text</dbtype>
				</column>
				<column>
					<name>event_updated</name>
					<dbtype>integer</dbtype>
				</column>		
				<column>
					<name>fights_updated</name>
					<dbtype>integer</dbtype>
				</column>		
			</events>

			<table>tmp_events</table>
			<tmp_events>
				<primary-key><![CDATA[id]]></primary-key>
				<column>
					<name>id</name>
					<dbtype>integer</dbtype>
				</column>
				<column>
					<name>completed</name>
					<dbtype>integer</dbtype>
				</column>
				<column>
					<name>child_url</name>
					<dbtype>text</dbtype>
				</column>
			</tmp_events>

			<table>fights</table>
			<fights>
				<primary-key><![CDATA[id]]></primary-key>
				<column>
					<name>id</name>
					<dbtype>integer</dbtype>
				</column>
				<column>
					<name>event_id</name>
					<dbtype>integer</dbtype>
				</column>
				<column>
					<name>defender_name</name>
					<dbtype>text</dbtype>
				</column>
				<column>
					<name>contender_name</name>
					<dbtype>text</dbtype>
				</column>
				<column>
					<name>winner_id</name>
					<dbtype>integer</dbtype>
				</column>
				<column>
					<name>loser_id</name>
					<dbtype>integer</dbtype>
				</column>
				<column>
					<name>winner_name</name>
					<dbtype>string</dbtype>
				</column>
				<column>
					<name>loser_name</name>
					<dbtype>string</dbtype>
				</column>
				<column>
					<name>weight_class</name>
					<dbtype>string</dbtype>
				</column>
				<column>
					<name>finish_method</name>
					<dbtype>string</dbtype>
				</column>
			</fights>
		</tables>
	</database>

	<!-- scraper tasks settings -->
	<scrapers>
		<completed-events>
			<prepared-statement>
				<name>clear</name>
				<statement><![CDATA[DELETE FROM tmp_events]]></statement>
			</prepared-statement>
			<prepared-statement>
				<name>insert</name>
				<statement><![CDATA[INSERT OR REPLACE INTO tmp_events (id, completed, child_url) VALUES (?, 1, ?)]]></statement>
			</prepared-statement>

			<table-regex><![CDATA[(<div[\s]class="events_table[\s]data_table[\s]row_is_link">)([\w\W]*?)(</div>)]]></table-regex>
			<index-delimiter><![CDATA[</tr>[\w\W]*?<tr.+?>]]></index-delimiter>
			<source-url><![CDATA[http://hosteddb.fightmetric.com/events/index/date/desc/1/all]]></source-url>
			<source-file><![CDATA[E:\projekt\MMAFL\code\server\www\fm_c_events.htm]]></source-file>

			<scrape-field>
				<name>id</name>
				<apptype>integer</apptype>
				<regex><![CDATA[(.events.details.)(\d+)(\D)]]></regex>
			</scrape-field>
			<scrape-field>
				<name>child_url</name> 
				<apptype>string</apptype>
				<regex><![CDATA[(href=")(.*)(">)]]></regex>
			</scrape-field>
		</completed-events>

		<upcoming-events>
			<prepared-statement>
				<name>clear</name>
				<statement><![CDATA[DELETE FROM tmp_events]]></statement>
			</prepared-statement>
			<prepared-statement>
				<name>insert</name>
				<statement><![CDATA[INSERT OR REPLACE INTO tmp_events (id, completed, child_url) VALUES (?, 0, ?)]]></statement>
			</prepared-statement>
			
			<table-regex><![CDATA[(<div[\s]class="events_table[\s]data_table[\s]row_is_link">)([\w\W]*?)(</div>)]]></table-regex>
			<index-delimiter><![CDATA[</tr>[\w\W]*?<tr.+?>]]></index-delimiter>
			<source-url><![CDATA[http://hosteddb.fightmetric.com/events/index/date/asc/0/all/]]></source-url>
			<source-file><![CDATA[E:\projekt\MMAFL\code\server\www\fm_u_events.htm]]></source-file>

			<scrape-field>
				<name>id</name>
				<apptype>integer</apptype>
				<regex><![CDATA[(.events.details.)(\d+)(\D)]]></regex>
			</scrape-field>
			<scrape-field>
				<name>child_url</name> 
				<apptype>string</apptype>
				<regex><![CDATA[(<td[\s]class="left_border"><a href=")(.*)(">)]]></regex>
			</scrape-field>
		</upcoming-events>

		<compare-events>
			<prepared-statement>
				<name>clear</name>
				<statement><![CDATA[DELETE FROM tmp_events]]></statement>
			</prepared-statement>
			<prepared-statement>
				<name>insert-difference</name>
				<statement><![CDATA[INSERT OR REPLACE INTO events 
					SELECT tmp_events.id AS id, 'a' AS name, 1 AS date, 'a' AS organization, 'a' AS location, 'a' AS attendance, tmp_events.completed AS completed, tmp_events.child_url AS child_url, 0 AS event_updated, 0 AS fights_updated
					FROM tmp_events
					LEFT JOIN events
					  ON (tmp_events.id = events.id AND tmp_events.completed = events.completed)
					  WHERE events.id IS NULL]]>
				</statement>
			</prepared-statement>
		</compare-events>

		<event-details>
			<url-prefix><![CDATA[http://hosteddb.fightmetric.com]]></url-prefix>
			<source-file><![CDATA[E:\projekt\MMAFL\code\server\www\fm_event.htm]]></source-file>
			<prepared-statement>
				<name>select-dirty</name>
				<statement><![CDATA[select id, child_url FROM events WHERE event_updated = 0]]></statement>
			</prepared-statement>
			<prepared-statement>
				<name>rowcount</name>
				<statement><![CDATA[SELECT COUNT(*) FROM events]]></statement>
			</prepared-statement>
			<prepared-statement>
				<name>update</name>
				<statement><![CDATA[UPDATE events SET name=?, date=?, organization=?, location=?, attendance=?, event_updated=? WHERE id=?]]></statement>
			</prepared-statement>
			<scrape-field>
				<name>name</name> 
				<apptype>string</apptype>
				<regex><![CDATA[(<h1\s+class="event_header_h1">)(.*)(</h1>)]]></regex>
			</scrape-field>
			<scrape-field>
				<name>date</name> 
				<apptype>date</apptype>
				<regex><![CDATA[(<td\s+class="title_text">DATE</td>.*[\r\n].*<td>)(.*)(</td>)]]></regex>
			</scrape-field>
			<scrape-field>
				<name>organization</name> 
				<apptype>string</apptype>
				<regex><![CDATA[(<td\s+class="title_text">ORGANIZATION</td>.*[\r\n].*<td>)(.*)(</td>)]]></regex>
			</scrape-field>
			<scrape-field>
				<name>location</name> 
				<apptype>string</apptype>
				<regex><![CDATA[(<td\s+class="title_text">LOCATION</td>.*[\r\n].*<td>)(.*)(</td>)]]></regex>
			</scrape-field>
			<scrape-field>
				<name>attendance</name> 
				<apptype>integer</apptype>
				<regex><![CDATA[(<td\s+class="title_text">ATTENDANCE</td>.*[\r\n].*<td>)(.*)(</td>)]]></regex>
			</scrape-field>
		</event-details>
	</scrapers>
</settings> 